.workadium__pagination {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
}
.workadium__pagination span{
    margin-right: 20px;
    color:  #989898;
}

.news__pagination a {
        color: black;
        padding: 5px 12px;
        text-decoration: none;
        float: left;
        transition: background-color .3s;
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        -ms-transition: background-color .3s;
        -o-transition: background-color .3s;
}
.news__pagination a.active {
    background-color: #27273e;
    color:  #ec1e79;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.news__pagination a:hover:not(.active) {
    /*background-color: #ddd;*/
    color: #ec1e79;
}